# Estructuras de datos en Python_Intro Listas

### Material electrónico de consulta



https://docs.python.org/es/3/tutorial/index.html

https://www.programaenpython.com/fundamentos/listas-en-python/

https://www.programarya.com/Cursos/Python/estructuras-de-datos

### Listas

Para crear una lista en python podemos utilizar dos formas:
- [] Por default encerrar en corchetes los datos que se agregan a la lista.
- list( ) Utilizar la función list.

In [36]:
#Crear una lista con corchetes [ ]
lista_con_elementos = [1, 2, True, 'Hola', 5.8]

In [38]:
type(lista_con_elementos)

list

In [12]:
#otra forma de crear listas con list()
otra_lista_con_elementos = list([4, 9, False, 'texto'])

In [14]:
type(otra_lista_con_elementos)

list

In [18]:
#crear una lista con los nombres de los días de la semana
L1 = ["Lunes","Martes","Miércoles","Jueves","Viernes","Sábado","Domingo"]
print(L1)
type(L1)

['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']

list

In [20]:
#identificar número de elementos en mi lista
len(L1)

7

In [24]:
#acceder al primer elemento de la lista L1
#nombre_objeto[índice]
L1[0]

'Lunes'

In [34]:
#acceder al primer elemento de la lista L1 de forma inversa (de derecha a izquierda)
#nombre_objeto[índice]
L1[-7]

'Lunes'

In [40]:
mi_lista = ['Juan', 'Pedro', 'Laura', 'Carmen', 'Susana']

In [42]:
mi_lista[0]

'Juan'

In [44]:
mi_lista[1]

'Pedro'

In [46]:
mi_lista[4]

'Susana'

In [48]:
mi_lista[-1]

'Susana'

In [50]:
edades = [20, 41, 6, 18, 23]

In [52]:
type(edades)

list

### Otra forma de crear listas a partir de una celda vacía.

In [86]:
números = [] #lista vacía
print(números)
type(números)

[]

list

In [88]:
#lista.append(x): añade un elemento x al final de la lista
números.append(10)

In [90]:
números

[10]

In [92]:
números.append("Python")
números

[10, 'Python']

In [94]:
números.append(True)
números

[10, 'Python', True]

In [96]:
len(números)

3

### Otra forma de agregar es con el operador +

In [102]:
números = números + [10, 5, 3]

In [104]:
números

[10, 'Python', True, 10, 5, 3]

### lista.pop(index=-1): 
elimina y devuelve el elemento cuya posición corresponde al índice especificado. Por defecto elimina el último elemento.

In [116]:
palabras = ['hola', 'hello', 'ola']

In [118]:
palabras.pop()

'ola'

In [120]:
print(palabras)

['hola', 'hello']

In [134]:
#unir en L2 las listas "palabras" y "números"
L2 = palabras + números
print(L2)

['hola', 'hello', 10, 'Python', True, 10, 5, 3]

In [136]:
#de L2 eliminar "Python"
L2.pop(3) # normal (3) , inverso (-5)
print(L2)

['hola', 'hello', 10, True, 10, 5, 3]

### remove()
llama al objeto por su nombre

In [140]:
#Quitar de L2 el dato True
L2.remove(True)
print(L2)

['hola', 'hello', 10, 10, 5, 3]

### lista.sort(): 
ordena los elementos de la lista.

In [153]:
#crea una lista con los datos numéricos
L3 = list([11,33,16,1,17,8,10,22,55,44])
len(L3)

10

In [155]:
L3.sort()
L3

[1, 8, 10, 11, 16, 17, 22, 33, 44, 55]

### lista.reverse(): 
invierte el orden de los elementos de una lista. Este método es equivalente a aplicar lista[::-1].

In [159]:
L3.reverse()
L3

[55, 44, 33, 22, 17, 16, 11, 10, 8, 1]

In [ ]:
L3

# Ejercicio de Repaso

1. Crear las listas:
- A1 de longitud 20 con datos "string".
- A2 de longitud 15 con datos "numéricos".
- A3 de longitud 20 con datos "Booleanos".

2. Verificar la longitud o tamaño de las listas.
3. De A1 eliminar el primer elemento de la lista.
4. De A2 eliminar el último elemento de la lista.
5. Unir A1 y A2 en A4.

In [246]:
A1 = ["a","b","c","f","g","h","i","j","k","l","m","n","ñ","o","p","q","r","s","t","u"]
A2 = [3,1,2,3,4,5,6,7,8,9,10,11,12,13,44,15,16,17,33,22]
A3 = [True,False,True,False,True,False,True,False,True,False,True,False,True,False,True,False,True,False,True,False,]

print(A1)
print(A2)
print(A3)

['a', 'b', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'ñ', 'o', 'p', 'q', 'r', 's', 't', 'u']
[3, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 44, 15, 16, 17, 33, 22]
[True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False]

In [248]:
len(A1)

20

In [250]:
len(A2)

20

In [252]:
len(A3)

20

In [254]:
A1.pop(0)
A1

['b',
 'c',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'ñ',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u']

In [256]:
A2.pop(19)
A2

[3, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 44, 15, 16, 17, 33]

In [258]:
A4 = A1 + A2
A4

['b',
 'c',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'ñ',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 3,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 44,
 15,
 16,
 17,
 33]